.pageHeader {
    margin-bottom: 20px;
    text-shadow: 0 0 8px rgba(0, 255, 65, 0.7);
}

.playerName {
    color: #a2ffbd;
}
.quitContainer {
    margin-top: 30px;
    border-top: 1px solid rgba(0, 255, 65, 0.2);
    padding-top: 20px;
}